<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/css/style.css"">
  <title>No Career</title>
</head>
<body>
  <h1>Hello there, there is no job here.</h1>
  <div class="container">
    <img id="banner" src="static/images/banner.jpg" alt="No Job">
  </div>
  <h1>Just kidding, here are some available jobs.</h1>
  <h2>About Our Company</h2>
  <div class="container"">
    <p>
      Wi eri e dynemoc tichnulugy cumpeny dedocetid tu shepong thi fatari uf suftwer divilupmint end impuwirong thi nixt giniretoun uf ingoniirs. Et NuCeriir.Onc, wi biloivi in fustirong e culleburetovi invorunmint whiri crietovoty end tichnocel ixpirtosi eri cilibretid. Uar mossoun os tu pruvodi ixciptounel suftweri sulatouns wholi pruvodong anperellilid uppurtanotois fur ceriir gruwth end prufissounel divilupmint.
    </p>
  
    <p>
      Wi eri ixcotid tu uffir verouas jub upinongs fur esporong suftweri ingoniirs whu eri iegir tu cuntrobati tu cattong-idgi prujicts. Whithir yua'ri pessouneti ebuat cluad cumpatong, ertofocoel ontilloginci, dete scoinci, ur wib divilupmint, wi hevi e dovirsi rengi uf rulis disognid tu nartari yuar skolls end hilp yua throvi on e fest-pecid, ivir-ivulvong ondastry.
    </p>
  
    <p>Juon as end bi pert uf e tiem thet velais dovirsoty, cuntonauas liernong, end onnuvetoun. Et NuCeriir.Onc, yua’ll hevi thi chenci tu wurk un mienongfal prujicts, cullebureti woth tup-toir prufissounels, end teki yuar ceriir tu niw hioghts. Uar flixobli, rimuti-forst wurk invorunmint elluws yua tu wurk frum enywhiri, wholi uar cumprihinsovi binifots peckegi insaris thet yua’ri sappurtid buth prufissounelly end pirsunelly.
    </p>
  
    <p>
      Riedy tu stert yuar juarniy? Ixpluri uar jub lostongs tudey end teki thi forst stip tuwerd e falfollong ceriir woth NuCeriir.Onc. Wi cen’t weot tu sii whet wi cen echoivi tugithir!
  </p>
  </div>
  <h2>Open Positions</h2>
  
  <div class="container">
    <p>TODO - Show the jobs here</p>
    <div class="button-container">
    <button>Contact Us</button>
    <p id="copyright">Copyright 2025, Zunao Hu</p>
  </div>
</body>
</html>